/*УБираем отступы*/
*{
    margin: 0;
    padding:0; 
}

body{
    overflow: scroll;
    background-color: #f8f8f8;
}

/*Главный контейнер*/
.container{
    width: 1500px;
    height: 700px;
    margin: 0 auto;
}

/*Шапка*/
.header{
    width: 1500px;
    height: 700px;
    background-color: #abeafa;
}

.header_catalog{
	width: 1500px;
	height: 350px;
	background-color: #abeafa;
}

.header_contacts{
	width: 1500px;
	height: 350px;
	background-image: url(../images/maps.png);
}
/*ЛОГО*/
.header > a, .header_catalog > a, .header_contacts > a{
    display: block;
    float: left;
    margin-left: 234px;
    margin-top: 24px;
}

/*Иконки*/
.icons{
    float:right;
}

.icons_contacts{
	float: right;
	margin-top: 40px;
	margin-right: 173px;
	width: 200px;
	height: 35px;
	background-color: rgba(193, 193, 193, 0.8);
}

.icons_contacts a .fa{
	margin-top: 10px;
	margin-right: 12px;
	color: aliceblue;
}

.icons_contacts .fa.fa-facebook{
	margin-left: 24px;
	
}
.icons .fa.fa-instagram{
    margin-right: 229px;
}

.icons .fa{
    margin-top: 50px;
    margin-right: 15px;
    color: aliceblue;	
}

.fa:hover{
	color: #000000;
}

/*Под лого*/
.header .welcome{
    display: inline-block;
    float: left;
    clear: both;
    width: 270px;
    height: 300px;
    margin-top: 201px;
    margin-left: 165px;
    background-color: #fff51f;
    font: 700 30px / 30px Raleway;
}

.wel_to_comp{
    font: 700 30px / 30px Comfortaa;
    padding: 82px 46px 0 25px;
}

.wel_to_comp  p{
    font: 700 18px / 14px Comfortaa;
    padding-top: 12px;
    width: 218px;
    height: 60px;
}

/*Справа от лого*/
.funride{
    float: right;
    width: 313px;
    height: 169px;
    background-color: inherit;
    margin-right: 274px;
    margin-top: 177px;
}

.sale2016 > p{
   font: 700 48px / 34px Comfortaa;
   color: #fff51f;
   line-height: 44px;
}

.sale2016 > p + p{
    font: 400 18px / 24px Comfortaa;
    padding-top: 5px;
    color: #fff51f;
}

/*Кнопка "КУПИТЬ СЕЙЧАС"*/
.buy_now{
    float: right;
    width: 124px;
    height: 49px;
    background-color: #fff51f;
    color: #000000;
    font-weight: bold;
	font-family: 'Comfortaa';
    margin-right: 460px;
    margin-top: 62px;
    outline: none;
}

.buy_now:hover{
    background-color: #ffe51f;
}

.buy_now:active{
	position: relative;
	top: 3px;
}

/*МЕНЮ*/
.menu{
    width: 270px;
    height: 475px;
    float: left;
    margin-left: 165px;
	margin-top: -20px;
}
 
.menu_catalog{
	width: 270px;
    height: 475px;
    float: left;
    margin-left: 165px;
}
.menu ul .menu_1, .menu_catalog ul .menu_1{
    background-color: #333333;
    height: 66px;
    color: aliceblue;
    font: 700 14px / 32px Comfortaa;
    line-height: 70px;
}

.menu ul li, .menu_catalog ul li{
    list-style-type: none;
    height: 43px;
    background-color: #26d2fc;
    padding-left: 40px;
    text-align: left;
    font: 700 14px / 32px Comfortaa;
    line-height: 50px;   
}

.menu ul a, .menu_catalog ul a{
	text-decoration: none;
}

.menu ul li:hover, .menu_catalog ul li:hover{
    background-color: #333333;
    color: aliceblue;
}

.menu ul .menu_1:hover, .menu ul li:hover, .menu_catalog ul .menu_1:hover, .menu_catalog ul li:hover{
    cursor: pointer;
} 

/*NEW PRODUCTS*/
.new_products{
    margin-left: 465px;
    margin-top: -20px;
    background-color: #f8f8f8;
    width: 870px;
    height: 724px;
}

.contacts_pole{
    margin-left: 465px;
    background-color: #f8f8f8;
    width: 870px;
    height: 724px;
}

p > label{
	color: #333333;
	font: 700 12px Roboto;
}

input[type="text"], input[type="email"]{
	width: 330px;
	height: 27px;
	margin-top: 10px;
	margin-bottom: 34px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff;
	border: none;
}

textarea{
	margin-top: 10px;
	border: none;
	resize: none;
}

.message_contacts{
	float: left;
	margin-top: 92px;
	margin-left: 45px;
}

.info_address{
	float: left;
	margin-left: 50px;
	width: 292px;
}

.info_address > p{
	color: #353535;
	font: 900 18px / 14px Roboto;
	margin-top: 101px;
}

.metka{
	margin-top: 18px;	
}

.metka > img + span{
	margin-left: 10px;
	color: #777777;
	font: 400 16px / 14px Roboto;
}

.phone_contacts{
	margin-top: 57px;
	color: #333333;
	font: 400 20px / 20.8px Roboto;
}

.email_contacts{
	margin-top: 19px;
	margin-bottom: 30px;
	color: #333333;
	font: 400 20px / 20.8px Roboto;
}

.info_address > span{
	color: #333333;
	font: 400 16px / 14px Roboto;
	
}
.navi ul, .navi_contacts ul{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: 42px;
	margin-top: 38px;
	color: #989898;
	font: 400 16px Roboto;
	list-style-type: none;
}

.navi_contacts ul{
	margin-top: 18px;
}

.navi ul a, .navi_contacts ul a{
	text-decoration: none;
}

.navi ul a:last-child, .navi_contacts ul a:last-child{
	background-color: #faef03;
}

.photo_dell{
	float: left;
	margin-top: 53px;
	margin-left: 38px;
}

img.pic{
	width: 370px;
	height: 370px;
}
/*Ярлычки*/
.dell, .lenovo{
    position: relative;   
}
.new{
    position: absolute;
    right: 0;
    top: 0;
    border: 26px solid transparent;
    border-top: 26px solid #e24602;
    border-right: 26px solid #e24602;
}

.hot{
    position: absolute;
    right: 0;
    top: 0;
    border: 26px solid transparent;
    border-top: 26px solid #faef03;
    border-right: 26px solid #faef03;
}
.insc_new{
    position: absolute;
    right: 6px;
    top: 10px;
    color: #ffffff;
    font: 400 9px Roboto;    
}

.insc_hot{
    position: absolute;
    right: 6px;
    top: 10px;
    color: #000000;
    font: 400 9px Roboto;
}

.new_products_container, .container_top_product, .container_sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.new_products p, .top_products p, .sale_products p{
    display: inline-block;
    margin: 31px 0 0 25px;
    color: #707070;
    font: italic 900 22px Roboto;
}
/*Товары*/
.dell, .lenovo, .hp, .fujitsu, .panasonic, .getac, .top_1, .top_2, .top_3,
.sale_1, .sale_2, .sale_3{
    width: 270px;
    height: 320px;
    background-color: #ffffff;
    margin-top: 30px;
}

.dell:hover, .lenovo:hover, .hp:hover, .fujitsu:hover, .panasonic:hover, .getac:hover, .top_1:hover, .top_2:hover, .top_3:hover,.sale_1:hover, .sale_2:hover, .sale_3:hover{
    box-shadow: 0 0 15px #000;
}

/*контейнер изображений*/
.dell img, .lenovo img, .hp img, .fujitsu img, .panasonic img,
.getac img, .top img, .sale img{
    width: 250px;
    height: 235px;
    margin: 10px 10px 0 10px;
    background-color: #eaeaea;
}

.price_dell, .price_lenovo, .price_hp, .price_fujitsu, .price_panasonic,
.price_getac, .top a, .sale a{
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 80px;
    color: #333333;
    font: italic 900 14px / 18.012px Roboto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.dell a, .lenovo a, .hp a, .fujitsu a, .panasonic a, .getac a, .top_1 a, .top_2 a, .top_3 a,
.sale_1 a, .sale_2 a, .sale_3 a{
	text-decoration: none;
}

.price{
    float: right;
    color: #333333;
    font: italic 900 18.01px Roboto;
    vertical-align: sub;
    padding-left: 30px;

}

.old_price{
    float: right;
    color: #e24602;
    font: italic 900 14.01px Roboto; 
    clear: both;
}

/*Под меню*/
.now_is_open{
    width: 270px;
    height: 300px;
    background-color: #e0e0e0;
    float: left;
    margin-left: 165px;
    margin-top: -500px;
}

.now_is_open div{
    width: 109px;
    height: 98px;
    font: 800 36px / 36px Raleway;
    line-height: 36px;
    margin-left: 142px;
    margin-top: 129px;
}

/*TOP PRODUCTS*/
.top_products{
    width: 870px;
    height: 400px;
    margin-left: 465px;
    margin-top: 70px;
    background-color: #f8f8f8;
}

/*SALE PRODUCTS*/
.sale_products{
    width: 870px;
    height: 400px;
    background-color: #f8f8f8;
    margin-top: 50px;
    margin-left: 465px;
}

/*Бренды*/
.brand{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 1170px;
    height: 160px;
    margin: 30px 165px 0 165px;
}

/*Социалка*/
.social_container{
    width: 1170px;
    height: 350px;
    margin: 0 auto;
}

.inst_logo img{
    display: inline-block;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    margin-left: 449px;
    margin-top: 51px;
}

.inst_feed{
    display: inline-block;
    color: #333333;
    float: right;
    font: italic 900 22px Roboto;
    margin-right: 447px;
    margin-top: 54px;
    
}

.inst_feed:after{
    content: " #CompLex";
    color: #333333;
    font: italic 900 18px Roboto;
}

.inst_photo{
    display: flex;
    justify-content: space-around;
    width: 1170px;
    margin-top: 26px;
}
.photo{
    width: 185px;
    height: 185px;
    background-color: #f8f8f8; 
}
.photo_1 img, .photo_2 img, .photo_3 img, .photo_4 img, .photo_5 img, .photo_6 img{
    width: 175px;
    height: 175px;
    margin-left: 4px;
    margin-top: 4px;
}
/*Кнопки социалки*/
.social_button, .social_button_catalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1170px;
    height: 150px;
    margin: 0 auto;
}

.social_button_catalog{
	margin-top: 131px;
}
.face{
    width: 390px;
    height: 150px;
    background-color: #3b5997; 
}

.twit{
    width: 390px;
    height: 150px;
    background-color: #3fccfd;
}

.pin{
    width: 390px;
    height: 150px;
    background-color: #cb2027;
}

.face a img{
    margin-left: 180px;
    margin-top: 44px;
}

.twit a img{
    margin-left: 163px;
    margin-top: 49px;
}

.pin a img{
    margin-left: 163px;
    margin-top: 43px;
}

.face:hover, .twit:hover, .pin:hover{
	position: relative;
	bottom: 5px;
}

/*Подвал*/
.footer{
    position: relative;
    width: 1500px;
    height: 348px;
    background-color: #373737;
}

.copy{
    position: absolute;
    bottom: 0px;
    width: 1500px;
    height: 50px;
    background-color: #333333;
}

.footer .copy > p{
	float: left;
    margin-left: 189px;
    margin-top: 21px;
    color: #dad9d9;
    font: 400 12px / 21.6px Roboto;
    margin-bottom: 0px;;
}

.footer > div ul{
    list-style-type: none;
	color: #ffffff;
    font: 400 12px / 18px Roboto;
    margin-top: 28px;
}

.footer > div ul a{
	text-decoration: none;
	color: #ffffff;
    font: 400 12px / 18px Roboto;
    margin-top: 28px;
}

.footer > div > p{
    color: #ffffff;
    font: 700 18px Comfortaa;
}

.communication{
	position: absolute;
	bottom: 10px;
	right: 0px;
}

.communication a .fa{
	margin-right: 15px;
	color: aliceblue;	
}

.communication  a .fa.fa-instagram{
    margin-right: 216px;
}

.category{
    float: left;
    margin-left: 192px;
    margin-top: 75px;
}
.accounts{
    float: left;
    margin-left: 50px;
    margin-top: 75px;
}

.support{
    float: left;
    margin-left: 50px;
    margin-top: 75px;
}

 /*Новостная рассылка*/
.newsletter{
	float: left;
	margin-left: 50px;
	margin-top: 75px;
}

.newsletter > p + p{
	color: #f8f8f8;
	font: 400 12px / 12px Roboto;
	margin-top: 8px;
}

.newsletter input[type="email"]{
	width: 180px;
	height: 30px;
	outline: none;
	margin-top: 20px;
	background-color: #fff51f;
	padding-left: 10px;
	padding-right: 10px;
}

.newsletter input[type="submit"]{
	width: 71px;
	height: 30px;
	outline: none;
	background-color: #000000;
	color: #ffffff;
	font: 400 12px / 21px Roboto;
}

.newsletter input[type="submit"]:active{
	font-size: 11px;
}
.cash_cards{
	margin-top: 45px;
	margin-left: -10px;
}

.cash_cards img:not(:first-child){
	margin-left: 10px;
}

.cash_cards img:active{
	position: relative;
	top: 2px;
}

.about_complex{
	float: right;
	width: 232px;
	height: 85px;
	margin-right: 191px;
	margin-top: 75px;
		
}
.about_complex > p + p{
	color: #f8f8f8;
	font: 400 12px / 12px Roboto;
	margin-top: 8px;
}

.about_phone{
	color: #ffffff;
	font: 400 14px / 23.4px Roboto;
	margin-top: 14px;
}

.about_email{
	color: #ffffff;
	font: 400 14px / 23.4px Roboto;
	margin-top: 15px;
}

.about_phone span{
	color: #ffffff;
	font: 400 14px / 36px Roboto;
	margin-left: 18px;
}

.about_email span{
	color: #faef03;
	font: 400 14px / 36px Roboto;
	margin-left: 35px;
}

